html {
  background: #000 !important;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background: #000 !important;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

canvas {
  display: block;
  position: fixed;
  inset: 0;
}
