html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: black;
  overflow: hidden;
}

body {
  position: fixed;   
  inset: 0;         
}


* {
  overscroll-behavior: none;
}

canvas {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
}
